/* Styling :) */

summary {
  user-select: none;
  cursor: pointer;
  width: fit-content;
}

dfn {
  cursor: help;
}

li:not(.interests-note){
  display: inline;
  white-space: nowrap;
}

li:not(.interests-note):before {
  content: " 🗲 ";
  margin: 0, 10px;
}

.personal-info {
  margin: 12px;
}

.personal-info * {
  margin: 0;
}

.personal-info div {
  margin: 10px;
}

.personal-info p {
  font-size: larger;
  font-weight: bold;
}

.container {
  border: rgb(0, 0, 0) 4px solid;
  margin: 10px;
  border-radius: 6px;
}

.content-table {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}

.introduction {
  display: flex;
}

.table-left {
  width: 65%;
}

.table-right {
  width: 100%;
}

.interests-box {
  display: flex;
  align-items: center;
  border-top: rgb(0, 0, 0) 4px solid;
  padding: 10px;
}

.interests-box h3 {
  width: 35%;
}

.interests-box ul {
  width: 100%;
}

.interests-note {
  margin-top: 6px;
  list-style-type: none;
}

.general {
  border: none;
}

.category-title {
  margin: 0;
  background-color: rgb(76, 76, 76);
  text-align: center;
  border-bottom: rgb(0, 0, 0) 4px solid;
}

.about-text {
  padding: 10px;
}

.introduction {
  border: none;
}

#picture {
  height: 192px;
  border: 4px solid;
  border-radius: 6px;
}
